.text-justify {
  text-align: center;
}

.text-justify p {
  text-align: justify;
  text-justify: inter-word;
  text-align-last: center;
}

.text-justify p.text-center {
  text-align: center;
  text-justify: auto;
}
.app {
  height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.snap-section {
  min-height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

html,
body,
#root {
  height: 100%;
}

.custom-pin-icon {
  background: transparent;
  border: none;
}

.custom-pin-icon svg {
  display: block;
  filter: drop-shadow(0 4px 6px rgba(10, 10, 10, 0.25));
}
